@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Convergence&display=swap');


:root{
    --primary-color: #2887ff;
    --primary-color-darck: #2476da;
    --text-dack: #0a0a0a;
    --text-light: #737373;
    --extra-light: #f3f4f6;
    --orange-color: #FFB4A2;
    --violet-color: #4B164C;
    --white: #ffffff;
    --max-width: 1200px;
    --font: 'Convergence', sans-serif;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: var(--font);
}


/*  Scroll section animation */
.section_animation {
    animation: apparition linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }
  
  @keyframes apparition {
    from{
        opacity: 0;
        transform: scale(0.5);
        clip-path: inset(100% 100% 0 0);
    }

    to{
        opacity: 1;
        transform: scale(1);
        clip-path: inset(0 0 0 0);
    }
    
  }



.title{
    font-size: clamp(1rem, 1.3rem, 1.5rem );
    color: var(--primary-color);
    margin: 1rem ;
}

 .text{
    font-size: clamp(0.8rem, 0.5rem, 1.2rem);
    color: var(--text-light);
    margin: 1rem;
}

html{
    scroll-behavior: smooth;
    font-size: 1.5rem;
}


.nav__container{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--extra-light);
    z-index: 1;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
}



.nav__container .logo{
    max-width: 25%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.nav__container .logo_img{
    width: 40%;
    flex-wrap: nowrap;
    cursor: pointer;
}

.nav__container .logo_img img{
    width: 100%;
    object-fit: cover;
}

.nav__container .logo .logo_s1{
    color: var(--white);
    font-size: clamp(0.3rem, 0.8rem, 1.2rem);
    font-weight: 800;
    margin-right: 0.2rem;
    color: var(--primary-color);
    cursor: pointer;
}
.nav__container .logo .logo_s2{
    color: var(--white);
    font-size: clamp(0.5rem, 0.6rem, 1.2rem);
    font-weight: 800;
    color: var(--violet-color);
    cursor: pointer;
}


.nav__container .nav__links{
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

 .nav__links li a{
    color: var(--primary-color);
    font-weight: bold;
    font-size: clamp(0.3rem,0.6rem, 0.7rem);
    font-family: "ABeeZee", serif;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

 .nav__links li a:hover{
    color: var(--violet-color);
}



.nav__container button{
    display: block;
    width: 4rem;
    padding: 10px;
    font-size: clamp(1rem, calc(2vw + 1), 1rem);
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.nav__container button:hover{
    background: var(--primary-color-darck);
    color: var(--white);
}


.nav__container .menu, 
.nav__container .close{
    display: none;
}


/* --------------------------------------- */
/* ----------Header Style----------------------------- */

.header{
    min-height: 120vh;
    background: url("./images/sky.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.header img{
    position: absolute;
    right: 0%;
    top: 15%;
    max-width: 100%;
    object-fit: cover;
}



 .header_content{
    height: 100vh;
    padding-top: 20%;
}

.header_content h2{
    font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
    color: var(--primary-color);
    margin-left: 0.4rem;
}

.header_content h3{
    margin-left: 4rem;
    margin-top: 0.5rem;
    color: var(--violet-color);
}

.btn{
    padding: 0.5rem 0.1rem;
    outline: none;
    width: 30%;
    font-size: clamp(0.3, 0.5rem , 1rem);
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.2rem;
    margin: 2rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0px 0px 10px var(--primary-color);
    color: var(--white);
}

/* --------------------------------------- */
/* --------------------------------------- */


/* ------------Popular Destinations--------------------------- */
/* --------------------------------------- */

.destination{
    margin: 5rem 0;
    padding: 1rem;
}



.swiper {
    width: 100%;
    height: 70vh;
  }

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }






.destination .card{
    width: 3rem;
    height: 250px;
    width: 350px;
    transition: all 0.5s ease-in-out;
}

 .card .card_img{
    width: 100%;
    height: 70%;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
 }


 .card .card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
 }

 .card .card_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin: 1rem;
 }

.card_details h4{
    font-size: 0.6rem;
    color: var(--primary-color);
}

.card_details p{
    font-size: 0.5rem;
    text-align: left;
    color: var(--violet-color);
}

.card_details .badge{
    background: var(--primary-color);
    padding: 5px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 2px var(--primary-color-darck);
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    justify-self: center;
    align-items: center;
}

.badge i{
    color: var(--white);
    font-size: 0.5rem;
}

.badge span{
    color: var(--white);
    font-size: 0.6rem;
}

/* --------------------------------------- */
/* --------------------------------------- */




/* --------------------------------------- */
/* -----------Services---------------------------- */

.bus_services{
    margin: 2rem auto;
}

.bus_services .service_detail img{
    max-width: 70%;
    width: 400px;
    object-fit: cover;
}


.service_detail h4{
    color: var(--violet-color);
}

.service_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.service_cards .service_card{
    width: 260px;
    height: 270px;
    overflow: hidden;
    background: var(--white);
    padding: 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
}

.service_cards .service_card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}


 .card_avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--violet-color);;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.card_avatar i{
    color: var(--white);
}


.service_card h4{
    font-size: clamp(0.5rem, 0.7rem, 1rem);
    text-align: center;
    margin: 1rem auto;
}


.service_card p{
    font-size: clamp(0.5rem, 0.7rem, 1rem);
    margin: 0 auto;
    text-align: center;
    color: var(--text-light);
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.service_detail .image{
    max-width: 100%;
    height: 80vh;
    border-radius: 1rem;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* --------------------------------------- */
/* --------------------------------------- */



/* --------------------------------------- */
/* ------------ABOUT US--------------------------- */
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 15% 0;
}


.about .image{
    width: 40%;
    height: 100dvh;
    border-radius: 1rem;
    transition: all 0.4s ease-in-out;
}

.about .image:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.about .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.about .text_content{
    width: 50%;
}

.text_content h2{
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    color: var(--violet-color);
    text-align: center;
    margin: 1rem auto;
}

.text_content p{
    margin: 1rem 0;
    font-size: clamp(0.4rem, 0.8rem, 1rem);
    color: var(--text-light);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}


.cards .card{
    width: 260px;
    height: 200px;
    overflow: hidden;
    background: var(--white);
    text-align: center;
    padding: 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
}

.cards .card h4{
    margin: 0.5rem auto;
    color: var(--violet-color);
    font-size: clamp(1rem, 1.5rem, 1.6rem);
}

.cards .card p{
    color: var(--text-dack);
    opacity: 0.7;
    font-size: 0.7rem;
}
/* --------------------------------------- */



/* Client */


.clients .service_card{
    height: 400px;
}

.clients .service_detail{
    margin: 2rem;
}

.clients .section_img{
    width: 100%;
    margin: 1rem auto;
    height: 70vh;
    border-radius: 1rem;
    object-fit: cover;
}

.clients .service_card img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}



/* Contact */

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 15% 0;
}


.form{
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.form input,
.form textarea{
    width: 70%;
    padding: 0.5rem;
    border: 1px solid var(--orange-color);
    border-radius: 0.3rem;
    outline: none;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.form .btn{
   margin: 0 auto;
   text-align: center;
}


/* Adresse social media icons and footer  */

.address{
    background: var(--violet-color);
    margin-bottom: 0;
    text-align: center;
}

.address .copie_right{
    font-size: 0.6rem;
    color: var(--extra-light);
}

.address h4{
    color: var(--primary-color);
    font-size: 1.3rem;
}

.address p{
    color: var(--white);
    font-size: 1.2rem;
}


.social_media{
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 0 auto;
}




.social_media a i{
    color: var(--white);
    transition: all 0.3s ease-in-out;
    font-size: 1.2;
}

.social_media a i:hover{
    color: var(--primary-color);
    transform: scale(1.1)
}

/* #######################################"" */
/* #######################################"" */
/* Media Query  */
/* #######################################"" */

@media screen and (max-width: 750px) {


    .nav__container .logo{
        width: 1rem;
    }

    .nav__container .logo{
        min-width: 53%;
    }


    .nav__btns{
        display: flex;
        background: #ca3333;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .nav__container .menu{
        display: block;
        color: var(--primary-color);
        font-size: 1.2rem;
    }
    .nav__container .close{
        position: absolute;
        top: 5%;
        right: 3%;
        display: block;
        color: var(--white);
        font-size: 1.2rem;
        z-index: 1;
    }


    .nav__container .nav__links{
        display: none;
    }
    .nav__links_active{
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100dvh;
        background: var(--primary-color-darck);
        justify-content: center;
        align-items: center;
    }

    .nav__links li {
        width: 100%;
        padding: 0.4rem;
    }
    .nav__links li a{
        text-align: center;
        color: var(--white);
        width: 100%;
        display: block;
    }
    .nav__btns li a:hover{
        background: var(--violet-color);
    }

    .header img{
        top: 30%;
        max-width: 60%;
    }
    
    .about{
        flex-direction: column;
    }

    .about .image,
    .about .text_content{
        width: 70%;
        margin: 1rem;
        overflow: hidden;
    }

    .contact .form,
    .contact .form input,
    .contact .form textarea{
        width: 100%;
    }

    .address h4{
        font-size: 1rem;
    }

    .address p{
        font-size: 0.6rem;
    }

    .address .social_media{
        width: 100%;
    }
    
}



@media screen and (max-width: 400px) {
    .nav__container button{
        max-width: 50%;
        margin-right:6px ;
        font-size: 0.5rem;
    }

    .nav__container .logo .logo_s1,
    .nav__container .logo .logo_s2{
        font-size: 0.4rem;
    }

    .header_content h2{
        font-size: 1rem;
    }
    .header_content h3{
        font-size: 0.5rem;
    }

    .btn{
        font-size: 0.4rem;
    }

    .header_content{
        margin-top: 70%;
    }



}